
.container img {
    width: 320px;
    height: 110px;
    padding: 20px;
 
}

.btn:hover {
    background-color: rgb(152, 148, 148);
    color: white;
    
  }

  .btn2:hover:hover {
    background-color: rgb(152, 148, 148);
    color: white;
  }

  .btn3:hover:hover {
    background-color: rgb(152, 148, 148);
    color: white;
  }

  .btn4:hover:hover {
    background-color: rgb(152, 148, 148);
    color: white;
  }

  .btn {
    background-color: white; 
    color: black; 
    border: 2px solid #282a29;
  }

  .btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #282a29;

  }

  
  .btn3 {
    background-color: white; 
    color: black; 
    border: 2px solid #282a29;
  }

  
  .btn4 {
    background-color: white; 
    color: black; 
    border: 2px solid #282a29;
  }
  


  .container2 img {
    width: 320px;
    height: 130px;
    padding: 20px;

  }

  
  .container3 img {
    width: 320px;
    height: 130px;
    padding: 20px;

  }

   
  .container4 img {
    width: 320px;
    height: 130px;
    padding: 20px;

  }
  .img-container {
    float: left;
    padding: 15px;
    
  }
  .img-container section {
      width: 33%;
       float: left;

       padding: 10px;
  }
    
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



